# =============================================
# Public variables (exposed on the frontend)
# =============================================

# MultiversX chain (can be devnet, testnet, mainnet)
NEXT_PUBLIC_MULTIVERSX_CHAIN=devnet

# Wallet Connect 2 Project Id. This one will work only with this project
# Get yours at: https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_WC_PROJECT_ID=

# This is basically the main domain of your dapp
NEXT_PUBLIC_DAPP_HOST=http://localhost:3000

# The explorer url
NEXT_PUBLIC_EXPLORER_ADDRESS=https://devnet-explorer.multiversx.com

# The api endpoint
NEXT_PUBLIC_MULTIVERSX_API=https://devnet-api.multiversx.com
